<!DOCTYPE html>
<html>
  <head>
    <% if(title === "首页") { %>
      <title>卡通屋</title>
    <% } else { %>
    <title><%= title %>_卡通屋</title>
    <% } %>
    <link rel="stylesheet" href="/css/common.css" type="text/css">
  </head>
  <body>
    <h1>header ui component</h1>
