    <div class="search-banner">
      <div class="container">
          <div class="search-input-form">
              <input id="txtKeywords" type="search" value="" autocomplete="off"/>
              <a id="btnSearch" class="search-btn-1" href="/search?title=&language=1" target="_search" title="搜索">搜索</a>
              <a id="btnSoman" class="search-btn-2" href="https://www.soman.com/search.html?keyword=" target="soman">
                  <img src="/com/search/soman.png" class="search-btn-logo" title="全网搜"/>全网搜
              </a>
              <div class="search-list" style="display:none;"></div>
          </div>
          <p class="search-font">搜漫引擎提供全网搜索服务</p>
      </div>
    </div>
